.center {
    margin: auto;
    width: 150%;
    padding: 10px;
    padding-left: 18%;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(109, 190, 109, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 6px 20px rgba(32, 97, 32, 0.9);
    transform: translateY(-3px);
}

.card img {
    width: 100%;
    height: 150px;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 4px;
    margin: 10px;
    color: rgb(50, 173, 46);
    border: 1px solid rgb(50, 173, 46);
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover {
    background: rgb(50, 173, 46);
    color: #fff;
}

.img-responsive {
    width: auto !important; 
    height: 40px !important;
}

@media (max-width:992px) {
    .ocultar-img {
        height: 0;
        overflow: hidden;
    }
}
